:root {
    --gray: #f9fbfd;
    --orange: #e5781b;
    --red: #e51b23;
    --violet: #e51b88;
    --white: #fdeeef;
    --mono-orange-1: #a15412;
    --mono-orange-2: #b86015;
    --mono-orange-3: #cf6c18;
    --mono-orange-4: #e5781b;
    --mono-orange-5: #e88632;
    --mono-orange-6: #ea9349;
    --mono-orange-7: #eda160;
    --mono-red-1: #a11218;
    --mono-red-2: #b8151b;
    --mono-red-3: #cf181f;
    --mono-red-4: #e51b23;
    --mono-red-5: #e83239;
    --mono-red-6: #ea494f;
    --mono-red-7: #ed6065;
    --orange-rgb: 229, 120, 27;
    --red-rgb: 229, 27, 35;
    --violet-rgb: 229, 27, 136;
    --mono-orange-7-rgb: 93, 63, 38;
    --mono-red-5-rgb: 91, 20, 22;
    --mono-red-7-rgb: 93, 38, 40;
}

body {
    background-color: var(--gray);
    background-image: url("../image/bg-general.png");
}

.bg-orange-1 {
    background-color: var(--mono-orange-1) !important;
}

.bg-orange-2 {
    background-color: var(--mono-orange-2) !important;
}

.bg-orange-3 {
    background-color: var(--mono-orange-3) !important;
}

.bg-orange-4 {
    background-color: var(--mono-orange-4) !important;
}

.bg-orange-5 {
    background-color: var(--mono-orange-5) !important;
}

.bg-orange-6 {
    background-color: var(--mono-orange-6) !important;
}

.bg-orange-7 {
    background-color: var(--mono-orange-7) !important;
}

.text-red {
    color: var(--red);
}

.index-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card .card-body .form-header {
    background-color: var(--red);
    background: linear-gradient(90deg, rgba(var(--red-rgb), 1) 0%, rgba(var(--mono-red-7-rgb), 1) 100%);
    color: var(--white);
    padding: 1.5rem;
}

.btn-default {
    padding: 0.75rem 1.45rem;
    color: var(--white);
    background-color: var(--orange);
    transition-duration: .5s;
}

.btn-default:hover {
    background-color: var(--mono-orange-7);
    transition-duration: .5s;
}

.wrapper-logo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo {
    max-height: 25vh;
}

#main-body #left-content {
    background-image: url("../image/bg-general.png");
    min-width: 12vw;
}

#main-body #left-content>div nav {
    min-height: 100%;
    background-color: var(--mono-orange-7) !important;
}

#main-body #left-content>div>div>div {
    padding: 0.5rem 1rem;
    text-align: center;
}

#main-body #left-content>div nav .navbar-collapse {
    align-items: flex-start;
}

#main-body #right-content {
    min-height: 100vh;
    overflow-y: auto;
}

.btn:focus,
.btn.focus {
    box-shadow: none;
}

.btn .badge {
    position: absolute;
    font-size: 0.55rem;
    bottom: 3px;
    right: -3px;
    top: auto;
}

.clear {
    background-color: inherit;
    color: inherit;
    border: none;
}

.bg-orange {
    color: black;
}

.bg-orange .dropdown-menu {
    background-color: var(--mono-orange-7);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.header .dropdown .dropdown-menu {
    min-width: 25vw;
}

.bg-orange .dropdown-menu .dropdown-item.active,
.dropdown-item:active {
    color: var(--white);
    text-decoration: none;
    background-color: var(--mono-red-1);
}

.header {
    width: 100%;
    padding: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    color: var(--white);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.header .user {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.header .user-name {
    font-weight: bold;
    font-size: small;
}

.header .user-rol {
    font-size: x-small;
    color: darkgray;
    margin-top: 0px;
    line-height: 1em;
    text-align: left;
}

@media screen and (max-width: 599px) {
    .card .card-body .form-header {
        padding: 0.45rem;
    }
    .btn-default {
        padding: 0.55rem 1.25rem;
    }
}